.main-why {
	&__row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
	&__item {
        .media-cover {
            padding-top: 67.41%;
            margin-bottom: 10px;
        }
    }
    @media (max-width: $bp2) {
        &__row {
            gap: 10px;
        }
        &__item {
            h5 {
                font-size: 14px;
            }
        }
    }
    @media (max-width: $bp4) {
        &__row {
            grid-template-columns: repeat(4,1fr);
        }
        &__item {
            grid-column-end: span 2;
            &:nth-child(5n) {
                grid-column-end: span 4;
                .media-cover {
                    padding-top: 32.97%;
                }
            }
        }
    }
    @media (max-width: $bp7) {
        .sec-top h2 span {
            display: block;
            margin-bottom: 10px;
        }
    }
}
.main-about {
    .container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        align-items: start;
    }
    .media-cover {
        padding-top: 129.04%;
    }
	&__content {
        h3 {
            font-size: 40px;
            font-weight: 300;
            letter-spacing: -2px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 30px;
        }
        .main-btn {
            width: 100%;
            max-width: 273px;
        }
    }
    @media (max-width: $bp1) {
        &__content {
            grid-column-end: span 2;
            max-width: 300px;
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
                margin-bottom: 20px;
            }
            .main-btn {
                max-width: 253px;
            }
        }
    }
    @media (max-width: $bp2) {
        .container {
            gap: 10px;
        }
        &__content {
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp4) {
        .container {
           h2.h1 {
            grid-column-end: span 3;
           }
        }
        .media-cover {
            grid-column-end: span 2;
        }
        &__content {
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: $bp6) {
        .container {
            display: block;
            h2.h1 {
                margin-bottom: 20px;
            }
            .media-cover {
                margin-bottom: 10px;
            }
        }
        &__content {
            max-width: 100%;
            h3 {
                max-width: 270px;
            }
            p {
                font-size: 16px;
            }
            .main-btn {
                max-width: 100%;
            }
        }
    } 
}
.main-content {
    .page-content {
        column-count: 2;
        column-gap: 20px;
        break-inside: avoid;
    }
    @media (max-width: $bp4) {
        .sec-top {
            margin-bottom: 10px;
            h3 {
                font-size: 20px;
            }
        }
        .page-content {
            column-count: 1;
        }
    }
}
.main-smi {
    &__row {
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        .swiper-slide {
            justify-self: center;
            &:nth-child(5n) {
                justify-self: end;
            }
            &:nth-child(5n+1) {
                justify-self: start;
            }
            img {
                max-height: 66px;
                object-fit: contain;
            }
        }
    }
    @media (max-width: $bp1) {
        &__row {
            .swiper-slide {
                img {
                    max-height: 55px;
                }
            }
        }
    }
    @media (max-width: $bp2) {
        &__row {
            .swiper-slide {
                img {
                    max-height: 45px;
                }
            }
        }
    }
    @media (max-width: $bp4) {
        overflow: hidden;
        .swiper {
            overflow: visible;
        }
        &__row {
            display: flex;
            gap: 0;
            .swiper-slide {
                img {
                    margin: 0 auto;
                }
            }
        }
    } 
    @media (max-width: $bp5) {
        &__row {
            .swiper-slide img {
                max-height: 30px;
            }
        }
    }
}
.about {
    .page-content {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0
        }
    }
    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
        .media-cover {
            padding-top: 130.21%;
            img {
                margin: 0;
            }
        }
    }
    &__sec {
        margin-bottom: 40px;
    }
    @media (max-width: $bp1) {
        .sec-top-sm {
            h1, h2, h3, p {
                margin-bottom: 10px;
              }
        }
        &__images {
            margin-bottom: 10px;
        }
    }
    @media (max-width: $bp2) {
        &__images {
            gap: 10px;
        }
    }
    @media (max-width: $bp5) {
        .page-content, &__sec {
            margin-bottom: 60px;
        }
        .sec-top-sm {
           margin-bottom: 20px;
        }
        &__images {
            margin-top: 20px;
        }
    }
}
.about-dir {
    position: relative;
    margin-bottom: 20px;
    .media-cover {
        padding-top: 71.33%;
        img {
            margin: 0;
        }
    }
    &__lbls {
        position: absolute;
        top: 0;      
    }
    &__lbl--plus, &__lbl--minus {
        cursor: pointer;
        transition: all .3s linear;
    }
    &__lbl--minus {
        visibility: hidden;
        opacity: 0;
    }
    &__txt {
        position: fixed;
        z-index: 1001;
        width: 100%;
        max-width: 240px;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-out, opacity .3s ease-out;
        span {
            font-size: 16px;
            display: block;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid $pink;
            background: $white;
            text-align: center;
        }
        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
    @media (max-width: $bp1) {
        margin-bottom: 10px;
    }
    @media (max-width: $bp5) {
        margin-top: 20px;
        &__txt {
            max-width: 188px;
            span {
                font-size: 14px;
                display: block;
                padding: 6px;
            }
        }
    }
}
.about-hist {
    .page-content {
        img {
            margin: 10px 0;
        }
    }
    &__sec {
        display: flex;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
            .text-l::after {
                content: none;
            }
        }
        .text-l {
            flex: 0 0 26%;
            padding-top: 5px;
            margin-right: 10px;
            &:after {
                content: "";
                display: block;
                width: 100%;
                max-width: 150px;
                height: calc(100% - 60px);
                background: url(../img/about-hist.svg) top center / contain no-repeat
            }
        }
    }
    @media (max-width: $bp1) {
        &__sec {
            .text-l {
                flex: 0 0 33%;
            }
        }
    }
    @media (max-width: $bp5) {
        &__sec {
            .text-l {
                letter-spacing: -2px;
                line-height: 1;
                flex: 0 0 110px;
                padding-top: 0;
                margin-right: 0;
                &:after {
                    max-width: 100px;
                    height: calc(100% - 30px);
                }
            }
        }
    }
}
.about-season {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__img {
        max-width: 535px;
        margin: 0 auto;
    }
    @media (max-width: $bp1) {
        &__img {
            max-width: 490px;
        }
    }
    @media (max-width: $bp5) {
        .sec-top-sm {
            h3 {
                max-width: 300px;
            }
        }
        &__nav {
            margin-bottom: 20px;
        }
        &__img {
            max-width: 310px;
        }
    }
    @media (max-width: $bp7) {
        .nav-pink {
            font-size: 24px;
        }
    }
}
.about-act {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .main-btn {
        width: 100%;
    }
    &__img {
        max-width: 405px;
        margin: 0 auto 40px;
    }
    &__content {
        max-width: 354px;
        margin: 0 auto 40px;
        text-align: center;
        p {
            margin-bottom: 10px;
        }
    }
    @media (max-width: $bp1) {
        &__img {
            margin-bottom: 20px;
        }
        &__content {
            margin-bottom: 20px;
        }
    }
    @media (max-width: $bp2) {
        &__img {
            max-width: 300px;
        }
    }
    @media (max-width: $bp5) {
        &__img {
            max-width: 208px;
        }
    }
}

