.intro {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .media-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($light-gray, .1);
            z-index: 1;
        }
    }
	&__content {
        min-height: 100vh;
        padding: 200px 0 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        h1 {
            font-size: 74px;
            color: $white;
            display: inline-block;
            position: relative;
            .liana {
                color: $pink;
                display: block;
                padding-left: 185px;
                transform: translateY(-45%) rotate(-4.6deg);
            }
        }
    }
    @media (min-height: 970px) {
        &__content {
            min-height: 970px;
        }
    }
    @media (max-width: $bp1) {
        &__content {
            h1 {
                font-size: 52px;
                .liana {
                    padding-left: 130px;
                    transform: translateY(-35%) rotate(-4.6deg);
                }
            }
        }
    }
    @media (max-width: $bp2) {
        &__content {
            h1 {
                .liana {
                    font-size: 72px;
                }
            }
        }
    }
    @media (max-width: $bp5) {
        &__content {
            h1 {
                font-size: 32px;
                .liana {
                    font-size: 58px;
                    padding-left: 60px;
                    transform: translateY(-55%) rotate(-4.6deg);
                }
            }
        }
    }
    @media (max-width: $bp7) {
        &__content {
            h1 {
                .liana {
                    font-size: 42px;
                    padding-left: 40px;
                    transform: translateY(-35%) rotate(-4.6deg);
                }
            }
        }
    }
}
