.search {
    &__top {
        display: grid;
        grid-template-columns: 1fr 177px;
        gap: 11px;
        align-items: center;
    }
	&__close {
        font-weight: 500;
        color: $gray;
        &:hover {
            color: $pink;
        }
    }
    &__results {
        margin-top: 30px;
    }
    &__items {
        span {        
            font-weight: 500;
            display: block;
            margin-bottom: 10px;
        }
        li {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: $gray;
                display: block;
                padding: 10px 12px;
                &:hover {
                    color: $maincolor;
                    background: $white-gray;
                }
            }
        }
    }
    @media (max-width: $bp1) {
        &__top {
           grid-template-columns: 1fr 138px;
        }
        &__results {
            margin-top: 20px;
        }
        &__items {
            li {
                margin-bottom: 0;
            }
        }
    }
}
.search-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        fill: $maincolor;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}
.search-form {
    max-width: 1332px;
    display: flex;
    align-items: center;
    .item-form {
        margin-bottom: 0;
        input {
            padding: 14px 42px;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            &::placeholder {
                color: #E0E0E0;
            }
            &:focus {
                border-color: $maincolor;
                & + svg {
                    fill: $gray;
                }
            }
        }
    }
	&__inner {
        flex: 1 1 auto;
        position: relative;
    }
    &__icon {
        fill: #E0E0E0;
        width: 16px;
        height: 16px;
        position: absolute;
        top: calc(50% - 8px);
        left: 16px;
        transition: all .3s linear;
        pointer-events: none;
    }
	&__reset {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(50% - 6px);
        right: 16px;
        width: 12px;
        height: 12px;
        transition: all .3s linear;
        svg {
            stroke: #e0e0e0;
            width: 100%;
            height: 100%;
        }
        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
	&__submit {
        min-width: 177px;
        margin-left: 20px;
    }
    @media (max-width: $bp1) {
        &__submit {
            min-width: 138px;
        }
    }
    @media (max-width: $bp2) {
        &__submit {
            margin-left: 10px;
        }
    }
    @media (max-width: $bp4) {
        &__submit {
            min-width: 0;
        }
    }
    @media (max-width: $bp6) {
        display: block;
        &__submit {
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
        }
    }
}
.search-p {
    &__results {
        margin-top: 20px;
        &-empty {
            padding-top: 40px;
            text-align: center;
            p {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: $bp1) {
        &__results {
            &-empty {
                padding-top: 20px;
                p {
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: $bp4) {
        &__results {
            &-empty {
                padding-top: 10px;
            }
        }
    }
    @media (max-width: $bp6) {
        &__results {
            &-empty {
                p {
                    max-width: 320px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
.other-search {
    .sec-top {
        h3 {
            font-size: 20px;
        }
    }
}