:root {--vh: 1%}
$bp1: 1400.98px;
$bp2: 1200.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 370.98px;
$maincolor: #454545;
$gray: #898C92;
$light-gray: #2e2e2e;
$white-gray: #F8F8F8;
$pink: #FAAFD4;
$white: #FFFFFF;
$black: #000000;
$red: #F4371C;

